In [1]:
import pandas as pd

In [2]:
cm1 = pd.read_csv('날씨의아이review.csv')

In [3]:
cm1['id'] = list(range(1, 6341))

In [4]:
cm1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6340 entries, 0 to 6339
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review    6340 non-null   object
 1   Rank      6340 non-null   int64
 2   Sympathy  6340 non-null   int64
 3   id        6340 non-null   int64
dtypes: int64(3), object(1)
memory usage: 198.2+ KB

In [5]:
cm1.head()

                                              Review  Rank  Sympathy  id
0                   전체의 행복을 위해서라면 개인의 행복을 희생해도 괜찮은가     10      1593   1
1  이영화는 집단(도쿄)응 위해 개인(히나)의 희생을 당연시하는 일본 전체주의를 비판하...    10      1384   2
2                                재미 있으면 공감버튼을 눌러주세요     10      1446   3
3  미츠하랑 타키나오는데 나중에 타키 할머니 찾아갔을때 할머니 팔목에 미츠하 팔찌를 착...    10      1064   4
4  영상미랑 효과음, 장면에 맞는 OST는 정말 극찬받을 만함. 하지만 영화 스토리만 ...     3      2274   5

In [6]:
cm1.describe()

              Rank     Sympathy           id
count  6340.000000  6340.000000  6340.000000
mean      8.100000  1259.700000  3170.500000
std       2.625088   430.453523  1830.344685
min       3.000000   671.000000     1.000000
25%       6.000000   950.000000  1585.750000
50%      10.000000  1179.500000  3170.500000
75%      10.000000  1446.000000  4755.250000
max      10.000000  2274.000000  6340.000000

In [8]:
import re
from tqdm import tqdm
from konlpy.tag import Okt
from collections import Counter

In [9]:
cm1.duplicated().sum()

0

In [17]:
def extract_word(text):
    hangul = re.compile('[^가-힣]') 
    result = hangul.sub(' ', text) 
    return result

In [20]:
print("추출 후 : ",extract_word(cm1['Review'].iloc[865]))

추출 후 :  영상미는 좋았는데 스토리는 아쉬웠음 떡밥회수도 안되고 그래서 뭘 말하고 싶은건지 너의이름은 기대하고 보는 사람은 실망 많이 할 듯

In [21]:
cm1['Review'] = cm1['Review'].apply(lambda x:extract_word(x))

In [27]:
sample_text = cm1['Review'].iloc[18]
print(type(sample_text))
print(sample_text)

<class 'str'>
미츠하는 백화점에서 일하고있었다

In [29]:
from konlpy.utils import pprint
from konlpy.tag import Okt
okt = Okt()
# (단어, 품사) 추출
tokens = okt.pos(sample_text)
pprint(tokens)

[('미츠하', 'Noun'),
 ('는', 'Josa'),
 ('백화점', 'Noun'),
 ('에서', 'Josa'),
 ('일', 'Noun'),
 ('하고있었다', 'Verb')]

In [30]:
tokens = okt.morphs(sample_text)
pprint(tokens)

['미츠하', '는', '백화점', '에서', '일', '하고있었다']

In [31]:
# 명사 ONLY 추출
tokens = okt.nouns(sample_text)
pprint(tokens)

['미츠하', '백화점', '일']

In [5]:
cm2 = pd.read_csv('초속5센티미터review.csv')

In [6]:
cm2.head()

                                              Review  Rank  Sympathy
0  마지막 5분을 위한 55분의 전초석. 마지막 5분 때문에 난 이 영화를 아직도 소장...    10      1151
1  와나 님들 마지막에 타카키가 열차지나갈때 까지 기달렷는데 여자 없는거보고 웃음  짓...    10       822
2                                   첫 사랑을 잊어가는 속도..      9       703
3                영화 후유증 진짜 심하게옴.. 갠적으로 결말에서 멘붕와버림..     10       675
4           여자를 잊지 못하는 남자의 마음을 이토록 잘 표현한 애니메이션이 있을까     10       498

In [7]:
cm2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4130 entries, 0 to 4129
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review    4130 non-null   object
 1   Rank      4130 non-null   int64
 2   Sympathy  4130 non-null   int64
dtypes: int64(2), object(1)
memory usage: 96.9+ KB