In [1]:
import numpy as np
import pandas as pd

In [3]:
url = "http://openapi.seoul.go.kr:8088/sample/--------/1/5/"
file_type = 'json'
service_name = 'BukChonInOutPeopleInfo'

In [4]:
import os

In [23]:
url1 = url.split("/--------/")[0]
url2 = url.split("/--------/")[1]

In [24]:
url1

'http://openapi.seoul.go.kr:8088/sample'

In [25]:
url2

'1/5/'

In [27]:
url = os.path.join(url1, file_type, service_name, url2)

In [28]:
url

'http://openapi.seoul.go.kr:8088/sample\\json\\BukChonInOutPeopleInfo\\1/5/'

In [29]:
data = {"BukChonInOutPeopleInfo":{"list_total_count":29335,"RESULT":{"CODE":"INFO-000","MESSAGE":"정상 처리되었습니다"},"row":[{"DEVICEID":2.0,"DEVICENAME":"계동길 69","DESCRIPTION":"계동교회 앞","STARTTIME":"2022-11-30 21:10:41","ENDTIME":"2022-11-30 21:20:41","INCOUNT":9386.0,"OUTCOUNT":13749.0},{"DEVICEID":1.0,"DEVICENAME":"율곡로3길 50","DESCRIPTION":"덕성여고 앞","STARTTIME":"2022-11-30 21:10:41","ENDTIME":"2022-11-30 21:20:41","INCOUNT":7903.0,"OUTCOUNT":5279.0},{"DEVICEID":2.0,"DEVICENAME":"계동길 69","DESCRIPTION":"계동교회 앞","STARTTIME":"2022-11-30 21:20:41","ENDTIME":"2022-11-30 21:30:41","INCOUNT":9398.0,"OUTCOUNT":13776.0},{"DEVICEID":1.0,"DEVICENAME":"율곡로3길 50","DESCRIPTION":"덕성여고 앞","STARTTIME":"2022-11-30 21:20:41","ENDTIME":"2022-11-30 21:30:41","INCOUNT":7927.0,"OUTCOUNT":5312.0},{"DEVICEID":2.0,"DEVICENAME":"계동길 69","DESCRIPTION":"계동교회 앞","STARTTIME":"2022-11-30 21:30:41","ENDTIME":"2022-11-30 21:40:41","INCOUNT":9414.0,"OUTCOUNT":13800.0}]}}

In [30]:
import json

In [39]:
dict_data = dict(data)

In [44]:
dict_data.keys()

dict_keys(['BukChonInOutPeopleInfo'])

In [49]:
dict_data['BukChonInOutPeopleInfo']

{'list_total_count': 29335,
 'RESULT': {'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다'},
 'row': [{'DEVICEID': 2.0,
   'DEVICENAME': '계동길 69',
   'DESCRIPTION': '계동교회 앞',
   'STARTTIME': '2022-11-30 21:10:41',
   'ENDTIME': '2022-11-30 21:20:41',
   'INCOUNT': 9386.0,
   'OUTCOUNT': 13749.0},
  {'DEVICEID': 1.0,
   'DEVICENAME': '율곡로3길 50',
   'DESCRIPTION': '덕성여고 앞',
   'STARTTIME': '2022-11-30 21:10:41',
   'ENDTIME': '2022-11-30 21:20:41',
   'INCOUNT': 7903.0,
   'OUTCOUNT': 5279.0},
  {'DEVICEID': 2.0,
   'DEVICENAME': '계동길 69',
   'DESCRIPTION': '계동교회 앞',
   'STARTTIME': '2022-11-30 21:20:41',
   'ENDTIME': '2022-11-30 21:30:41',
   'INCOUNT': 9398.0,
   'OUTCOUNT': 13776.0},
  {'DEVICEID': 1.0,
   'DEVICENAME': '율곡로3길 50',
   'DESCRIPTION': '덕성여고 앞',
   'STARTTIME': '2022-11-30 21:20:41',
   'ENDTIME': '2022-11-30 21:30:41',
   'INCOUNT': 7927.0,
   'OUTCOUNT': 5312.0},
  {'DEVICEID': 2.0,
   'DEVICENAME': '계동길 69',
   'DESCRIPTION': '계동교회 앞',
   'STARTTIME': '2022-11-30 21:30:41',
   'ENDTIME': '2022-11-30 21:40:41',
   'INCOUNT': 9414.0,
   'OUTCOUNT': 13800.0}]}

In [2]:
dict_data = [{'DEVICEID': 2.0,
   'DEVICENAME': '계동길 69',
   'DESCRIPTION': '계동교회 앞',
   'STARTTIME': '2022-11-30 21:10:41',
   'ENDTIME': '2022-11-30 21:20:41',
   'INCOUNT': 9386.0,
   'OUTCOUNT': 13749.0},
  {'DEVICEID': 1.0,
   'DEVICENAME': '율곡로3길 50',
   'DESCRIPTION': '덕성여고 앞',
   'STARTTIME': '2022-11-30 21:10:41',
   'ENDTIME': '2022-11-30 21:20:41',
   'INCOUNT': 7903.0,
   'OUTCOUNT': 5279.0},
  {'DEVICEID': 2.0,
   'DEVICENAME': '계동길 69',
   'DESCRIPTION': '계동교회 앞',
   'STARTTIME': '2022-11-30 21:20:41',
   'ENDTIME': '2022-11-30 21:30:41',
   'INCOUNT': 9398.0,
   'OUTCOUNT': 13776.0},
  {'DEVICEID': 1.0,
   'DEVICENAME': '율곡로3길 50',
   'DESCRIPTION': '덕성여고 앞',
   'STARTTIME': '2022-11-30 21:20:41',
   'ENDTIME': '2022-11-30 21:30:41',
   'INCOUNT': 7927.0,
   'OUTCOUNT': 5312.0},
  {'DEVICEID': 2.0,
   'DEVICENAME': '계동길 69',
   'DESCRIPTION': '계동교회 앞',
   'STARTTIME': '2022-11-30 21:30:41',
   'ENDTIME': '2022-11-30 21:40:41',
   'INCOUNT': 9414.0,
   'OUTCOUNT': 13800.0}]

In [3]:
df=pd.DataFrame(dict_data)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DEVICEID     5 non-null      float64
 1   DEVICENAME   5 non-null      object
 2   DESCRIPTION  5 non-null      object
 3   STARTTIME    5 non-null      object
 4   ENDTIME      5 non-null      object
 5   INCOUNT      5 non-null      float64
 6   OUTCOUNT     5 non-null      float64
dtypes: float64(3), object(4)
memory usage: 408.0+ bytes

In [7]:
df['ENDTIME'] = pd.to_datetime (df['ENDTIME'])

In [8]:
df['Month'] = df['ENDTIME'].dt.month

In [9]:
df

,DEVICEID,DEVICENAME,DESCRIPTION,STARTTIME,ENDTIME,INCOUNT,OUTCOUNT,Month
0,2.0,계동길 69,계동교회 앞,2022-11-30 21:10:41,2022-11-30 21:20:41,9386.0,13749.0,11
1,1.0,율곡로3길 50,덕성여고 앞,2022-11-30 21:10:41,2022-11-30 21:20:41,7903.0,5279.0,11
2,2.0,계동길 69,계동교회 앞,2022-11-30 21:20:41,2022-11-30 21:30:41,9398.0,13776.0,11
3,1.0,율곡로3길 50,덕성여고 앞,2022-11-30 21:20:41,2022-11-30 21:30:41,7927.0,5312.0,11
4,2.0,계동길 69,계동교회 앞,2022-11-30 21:30:41,2022-11-30 21:40:41,9414.0,13800.0,11

In [15]:
df.groupby(by='Month')['INCOUNT'].mean()

Month
11    8805.6
Name: INCOUNT, dtype: float64

In [16]:
df.groupby(by='Month')['OUTCOUNT'].mean()

Month
11    10383.2
Name: OUTCOUNT, dtype: float64

In [17]:
df.groupby(by='Month')['INCOUNT'].min()

Month
11    7903.0
Name: INCOUNT, dtype: float64

In [18]:
df.groupby(by='Month')['INCOUNT'].max()

Month
11    9414.0
Name: INCOUNT, dtype: float64

In [19]:
df.groupby(by='Month')['OUTCOUNT'].min()

Month
11    5279.0
Name: OUTCOUNT, dtype: float64

In [20]:
df.groupby(by='Month')['OUTCOUNT'].max()

Month
11    13800.0
Name: OUTCOUNT, dtype: float64